<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Job Order Detail</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="agent-name">
     Applicant Name
    </label>
    <input type="text" disabled="disabled" name="applicant-name" class="form-control" id="pre-medical-date" placeholder="Mohit Verma" />

  </div>
  <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Branch Name
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Phillipins" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        POEA Details
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Visa Status
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Done" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Contract Status
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Done" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Interview Status
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Pass" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        OWWA Training Status
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Pass" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        PEDOS Training Status
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Pass" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="pre-medical-validity">
         Insurance Detail
        </label>
        <input type="text" disabled="disabled" name="pre-medical-validity" class="form-control" id="pre-medical-validity">
    
      </div>
      <div class="col-md-12 form-group">
        <label for="document">
         Document
        </label>
        <input type="file" name="photo" class="form-control" id="photo"/>
    
      </div>
      <div class="col-md-12 form-group">
           
        <a routerLink="../" routerLinkClass="active" class="btn btn-fps">Return</a>
     </div>
        </div>
</div>