<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Passport Detail</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="agent-name">
     Passport Number
    </label>
    <input type="number" disabled="disabled" name="pre-medical-date" class="form-control" id="pre-medical-date" placeholder="10289432" />

  </div>
  <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Passport Issue Date
      </label>
      <input type="date" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status"  />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
      Passport Validity Date
      </label>
      <input type="date" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
      Country
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Phillipins"/>
  
    </div>
  
      <div class="col-md-12 form-group">
           
        <a routerLink="../" routerLinkClass="active" class="btn btn-fps">Return</a>
     </div>
        </div>
</div>